* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  
}
:root {
  --background: linear-gradient(to right, #4682B4, #0a3138 );
  --main_color: #0ef;
  --text_color: #081b29;
  --header_color: #0a3138;
}
body {
  color: #ededed;
  background: var(--background);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--header_color);
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: sliderRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: sliderTop 0.5s ease forwards;
}
.navbar a:hover {
  color: var(--main_color);
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: var(--background);
  display: flex;
  align-items: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: sliderTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: var(--main_color);
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: sliderRight 1s ease forwards;
  animation-delay: 0.1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main_color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main_color);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}
.social-media a:hover {
  background: var(--main_color);
  color: var(--text_color);
  box-shadow: 0 0 20px var(--main_color);
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: var(--main_color);
  border-radius: 40px;
  font-size: 16px;
  color: var(--text_color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 5px var(--main_color), 0 0 25px var(--main_color);
  opacity: 0;
  animation: sliderTop 0.5s ease forwards;
  animation-delay: 0.7s;
}

.btn-box:hover {
  box-shadow: 0 0 5px var(--main_color), 0 0 25px var(--main_color),
    0 0 50px var(--main_color), 0 0 100px var(--main_color),
    0 0 200px var(--main_color);
}
#about {
  background: var(--background);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 6rem;
  padding-top: 6rem;
  gap: 1.5rem;
}
.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-content h2 {
  font-size: 60px;
}
.about-content h2 span{
  color: var(--main_color);
}
.about-content h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-content p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  margin-right: 4rem;
  text-align: justify;

}

.projects{
  background: var(--background);
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;

}
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;

}
.sub-title span{
  color: var(--main_color);
}
.container{
  padding: 90px;
}
.projects-list{
  display: grid;
  /* grid-template-columns: repeat(auto-fit,minmax(259px, 2fr)); */
  grid-template-columns: repeat(2, [a] 1fr [b]);
  grid-template-columns: [a] 1fr [b a] 1fr [b];
 
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list p{
  text-align: justify;
}
.projects-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-radius: 20px;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #0ef;  
}
.projects-list div:hover{
  transform: translateY(-10px);
}
.projects-list div img{
  font-size: 50px;
  margin-bottom: 30px;
  
}
.projects-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;

}
.contact{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-heading{
  font-size: 48px;
  line-height: 1;
  text-align: center;
}
.contact-heading span{
  color: var(--main_color);
}
.contact h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
  animation: sliderRight 1s ease forwards;
}
.contact p{
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
  
}
.contact a{
  text-decoration: none;
  color: rgb(177, 177, 177);
}
.contact a:hover{
  color: var(--main_color);
}

.contact a:active {
  color: var(--text_color);
}



.contact .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main_color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main_color);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}
.contact .social-media a:hover {
  background: var(--main_color);
  color: var(--text_color);
  box-shadow: 0 0 20px var(--main_color);
}


.skills i{
  font-size: 27px;
}
.skills .projects-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
  grid-template-rows: repeat(2, 1fr); 
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin-top: 50px;

}
.skills .projects-skills div:hover{
  transform: translateY(10px);
  transition: 0.5s ease;
  box-shadow: 1px 1px 20px #0ef; 
  border-radius: 10px;
}

.skills .projects-skills p{
  padding: 5px;
  text-align: justify;
}
.skills .projects-skills h2{
  padding: 5px;
}
.skills .projects-skills i{
  padding: 5px;
}
.skills .icons{
  width: 35px;
  padding: 5px;
}

.footer{
  background: var(--header_color);
}
.footer-text{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.footer-text p{
  font-size: 16px;
  color: #fff;
}
@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}

@keyframes sliderRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes sliderTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 766px) {
  body {
    color: #ededed;
  /* background: var(--background); */
  background-color: red;
  }
}